{% for categorie in categories %}
    <li><a class="dropdown-item js-scroll-trigger" href="{{ path('tourisme', { 'categorie' : categorie['categorie'] }) }}" style="color: #999c9f;"> {{ categorie['nom'] }}</a></li>
{% endfor %}