<p>Un message a été envoyé depuis le site internet.</p>
<div>
    <p>Email : {{ contact.email }}</p>
    <p>Nom : {{ contact.nom }}</p>
    <p>Prénom : {{ contact.prenom }}</p>
    <p>Message : {{ contact.message }}</p>
</div>