body {
    background: #e8dbc7 !important;
    overflow-y: scroll !important;
}

.carte {
    width: 100%;
    height: 700px;
}

.carte-container {
    position: sticky;
    top: 110px;
}

.marqueur-carte {
    background-color: #e8dbc7 !important;
    border-color: #e8dbc7 !important;
    box-shadow: none !important;
}

.marqueur-carte:hover {
    background-color: #e8dbc7 !important;
    border-color: #e8dbc7 !important;
    box-shadow: none !important;
}

.commerce-block {
    border: 2px solid #231f1c;
    padding: 10px;
}

.commerce-block-titre {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    color : #231f1c !important;
    border-bottom: 2px solid #231f1c;
}

.commerce-block-adresse {
    margin-bottom: 10px;
    color : #231f1c !important;
    padding-bottom: 10px;
    border-bottom: 2px solid #231f1c;
    display: flex;
    justify-content: space-between;
}

.commerce-block-adresse p {

    color : #231f1c !important;
    margin-bottom: 0px;

}