body {
    background-color: #d7c9b8;
    font-family: Didot;
    font-size: 20px;
}

p {
    color : rgb(53, 57, 66);
}

.btn {
    background-color : #d3d0cd !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.2);

    color: #353942 !important;
}

.btn:hover {
    background-color : #343a40 !important;
    color: #d7c9b8 !important;
}

form {
    margin: 0 auto;
    width: 450px;
    height: 50%;
}

.ui-datepicker .reserve a {
    background: #CF0A1D;
    color: white;
}

.ui-datepicker .disponible a {
    color: rgb(53, 57, 66);
}

.titre-partie {
    color : rgb(53, 57, 66) !important;
}

th {
    border: 1px solid rgb(53, 57, 66);
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.8);
    text-align: center;
}

.police {
    font-family: Didot;
    font-size: 17px;
}

.titre {
    margin-bottom: 10px !important;
    margin-top: 10px;
    background : #353942;
    font-family: Didot;
    font-size: 35px;
    padding: 5px 10px 5px 10px;
    border: solid 2px white transparent;
    border-radius: 5px;
    color: #d7c9b8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    display: inline-block;
}