{% extends 'base.html.twig' %}

{% block title %}Aux Temps d'Avant{% endblock %}

{% block body %}
    {% include 'commun/menu.html.twig' %}
    <div class="container police">
        <section class="resume-section" id="apropos" style="padding-top: 10px!important;">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h2>Aux Temps d'Avant</h2>
                    <p>
                        Dans son écrin de verdure au coeur du village nous avions acquis cet ancien corps de ferme typiquement alsacien
                        datant de 1717 à l'état de ruines et l'avons rénové dans le respect des traditions et avec la passion des vieilles pierres.
                        <br>
                        Ambiance cosy ou romantique mais de toute façon authentique, pour nos chambres indépendantes et
                        spacieuses qui ont été aménagées à l’étage de l’ancienne forge et de l’ancienne grange. Nous vous y proposons également un espace détente où nous avons le plaisir de vous offrir du thé et du café.
                        <br>
                        Meubles de famille ou objets chinés contribuent à l'atmosphère de sérénité, mêlant un soupçon de modernité avec un maximun de confort.
                        Une entrée propre à chaque chambre permet un accès en toute liberté.
                        <br>
                        Le petit déjeuner est servi à partir de 9h dans l'ancienne étable encore pourvue de sa mangeoire ou sur
                        la terrasse donnant sur le jardin en été.
                        <br>
                        À 30 minutes de Strasbourg, le village est situé à l’entrée du Parc naturel
                        régional des Vosges du Nord.
                        <br>
                        Parsemée de ruines de châteaux, terre d'Histoire, la région offre de nombreuses découvertes et activités. Parmis les sites les plus prisés, vous trouverez les villages aux maisons traditionnelles, les cités potières, verrières ou thermales ainsi que les vestiges militaires
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">

                    <!-- Full-width images with number text -->
                    <div class="slideshow-container">

                    </div>


                </div>
            </div>
        </section>
        <section class="resume-section" id="video">
            <h2 class="titre_all">Vidéo</h2>
            <iframe class="video" height="631" width="455"
                    src="https://www.youtube.com/embed/1Vh6tAqlblg?autoplay=1&showinfo=0" frameborder="0"
                    allowfullscreen></iframe>
        </section>
    </div>
{% endblock %}
