{% extends 'base.html.twig' %}

{% block title %}{{ chambre.nom }}{% endblock %}

{% block body %}
    {% include 'commun/menu.html.twig' %}
    <div class="container police">
        <h2 class="titre">{{ chambre.nom }}</h2>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p>
                    {{ chambre.description }}
                </p>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <p class="font-weight-bold">Equipements</p>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <p class="font-weight-bold">Disponibilités</p>

                    </div>
                </div>
                <div class="">
                    <p class="font-weight-bold">Tarifs<span class="font-weight-normal"> (petit-déjeuner compris)</span></p>
                    <table class="mb-1">
                        <thead>
                        <tr>
                            <th>Nombres de nuits</th>
                            <th>1 nuit</th>
                            <th>2 nuits</th>
                            <th>4 nuits</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>2 personnes</th>
                            <th>90 €</th>
                            <th>85 €</th>
                            <th>80 €</th>
                        </tr>
                        </tbody>
                    </table>
                    <p class="mb-0">Les prix indiqués sont par nuitée. </p>
                    <p>Taxe de séjour de 0.80 euro par jour par adulte.</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
