{% extends 'base.html.twig' %}

{% block title %} {{ categorie }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/carte.css">
{% endblock %}

{% block body %}
    {% include 'commun/menu.html.twig' %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 30px;">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="carte-container">
                    <div class="carte" id="carte">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row">
                    {% for tourisme in tourismes %}
                        {% include 'commun/commerce.html.twig' with  {'commerce' : tourisme} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'commun/carte.html.twig' %}
{% endblock %}
