{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
<style>
    body {
        background: #e8dbc7 !important;
    }
</style>

{% endblock %}

{% block body %}
    {% include 'commun/menu.html.twig' %}
    <div class="container police">
        <div  style="margin-top: 30px;">
           
                <h5 class="font-weight-bold titre-partie">Propriétaires</h5>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-user"></i></span> Carine & Christian Cura</li>
                    <li><span class="fa-li"><i class="fas fa-phone"></i></span> +33 (0)6 76 56 90 33</li>
                    <li><span class="fa-li"><i class="fas fa-envelope"></i></span> carinecura@gmail.com</li>
                    <li><span class="fa-li"><i class="fas fa-flag"></i></span> Français & Allemand</li>
                    <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span> 24 Grand Rue, 67110 Gundershoffen</li>
                </ul>                
        
           
            <p style="color: #231f1c !important;">Les chiens peuvent être acceptés sur demande.</p>
        </div>
    </div>
{% endblock %}
