{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% include 'commun/menu.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2">
                {% include 'commun/menu-admin.html.twig' %}
            </div>
            <div class="col-sm-9 col-md-9 col-lg-10 col-xl-10">
                <h2 class="titre">La Forge</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <h5 class="font-weight-bold titre-partie">Liste</h5>
                        <table class="mb-1 w-100">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>2</th>
                                <th>90 €</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="d-flex justify-content-center">
                            <div id="datePickerForge"></div>
                        </div>
                        <div>
                            <form method="post">
                                <fieldset class="form-group">
                                    <label style="color: #343a40;" for="date_debut">Date début</label>
                                    <input id="date_debut" name="date_debut" type="date" class="form-control">
                                </fieldset>
                                <fieldset class="form-group">
                                    <label style="color: #343a40;" for="date_fin">Date fin</label>
                                    <input id="date_fin" name="date_fin" type="date" class="form-control">
                                </fieldset>
                                <button class="btn btn-lg btn-block">
                                    <i class="fas fa-plus-circle"></i> Ajouter
                                </button>
                            </form>
                        </div>
                        {% for reservation in reservations %}
                            {{ reservation.date | date('y-m-d') }}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        let reservationsObjet = {{ reservations | json_encode() | raw }};
        let reservations = [];
        for (let i = 0; i < reservationsObjet.length; i++) {
            reservations.push(reservationsObjet[i].date.date.substring(0, 10));
        }

       // console.log(reservations);

        function formatDateYYYYMMDD(date) {
            var yyyy = date.getFullYear().toString();
            var mm = (date.getMonth()+1).toString();
            var dd  = date.getDate().toString();
            // CONVERT mm AND dd INTO chars
            var mmChars = mm.split('');
            var ddChars = dd.split('');
            // CONCAT THE STRINGS IN YYYY-MM-DD FORMAT
            return yyyy + '-' + (mmChars[1] ? mm : "0" + mmChars[0]) + '-' + (ddChars[1] ? dd : "0" + ddChars[0]);
        }

        $(document).ready(function () {
            $(function () {

                $("#datePickerForge").datepicker({
                    prevText: 'Préc',
                    nextText: 'Suiv',
                    currentText: 'Aujourd\'hui',
                    dateFormat: "yy-mm-dd",
                    monthNames: ['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin',
                        'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jun',
                        'Jul', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                    dayNamesMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
                    firstDay: 1,
                    beforeShowDay: function (dateObjet) {
                        console.log("beforeShowDay " + reservations);
                        let date = formatDateYYYYMMDD(dateObjet);
                          for (let i = 0; i < reservations.length; i++) {
                              if (reservations[i] === date) {
                                  return [true, 'reserve'];
                              }
                          }
                          return [true, 'disponible'];
                    },
                    onSelect: function (date, inst) {
                        //console.log(inst);
                        //console.log(date);
                        let index = reservations.indexOf(date);
                        //console.log("recherche" + index);
                        if (index === -1) {
                            reservations.push(date);
                        } else {
                            reservations = reservations.filter(v => v !== date);
                        }

                        $.ajax({
                            method: 'POST',
                            url: '/administration/mise-a-jour/reservation',
                            dataType: 'json',
                            data: {chambre: 'forge', date: date},
                            success: function () {

                            }
                        });
                        console.log("onselect " + reservations);

                        //$('#datePickerForge').datepicker("refresh");
                    }
                });
            });
        });
    </script>

{% endblock %}