{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% include 'commun/menu.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2">
                {% include 'commun/menu-admin.html.twig' %}
            </div>
            <div class="col-sm-9 col-md-9 col-lg-10 col-xl-10">
                <h2 class="titre">Administration</h2>

            </div>
        </div>
    </div>

{% endblock %}
