{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
    {% include 'commun/menu.html.twig' %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/Documents de LADENP/Documents/Pierre/aux-temps-d-avant/src/Controller/AdministrationController.php'|file_link(0) }}">src/Controller/AdministrationController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Documents de LADENP/Documents/Pierre/aux-temps-d-avant/templates/administration/index.html.twig'|file_link(0) }}">templates/administration/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
